<div class="row" ng-controller="AdicionarCtrl">

  <div class="section"></div>

   <form class="col s7">
     <h5> Preencha o formulário: </h5>
     <div class="section"></div>
     <div class="row">
       <div class="input-field col s9">
         <i class="material-icons prefix">account_circle</i>
         <input id="name" type="text" class="active validate" ng-model="usuario.name">
         <label for="name">Nome Completo</label>
       </div>

<div class="section"></div>

       <div class="input-field col s9">
         <i class="material-icons prefix">email</i>
         <input id="email" type="email" class="validate" ng-model="usuario.email">
         <label for="email" data-error="Email inválido" data-success="Email válido">Email</label>
       </div>

     </div>

     <div class="center">
     <a class="waves-effect waves-light btn" ng-click="adicionar()"><i class="material-icons left">send</i>Cadastrar</a>
     <a class="waves-effect waves-light btn" ng-click="limparCampos()"><i class="material-icons right">cloud</i>Limpar</a>
     </div>

<div class="section"></div>
<div class="section"></div>

   </form>
 </div>
