<div class="row" id="centralizar">
  <div class="section"></div>
  <div class="section"></div>
  <div class="section"></div>
       <div class="col s12 m6">
         <div class="card blue-grey darken-1">
           <div class="card-content white-text">
             <span class="card-title">Desenvolvido por Fabio Oliveira</span>
             <p>Simples aplicação crud utilizando tecnologias com Node, Angular, Mongo e Materialize.</p>
           </div>
           <div class="card-action white-text">
             <p>Contatos:</p>
             <a href="http://www.facebook.com/fabio91oliveira" target="_blank">FACEBOOK</a>
             <a href="https://br.linkedin.com/in/fabio91oliveira" target="_blank">LINKEDIN</a>
           </div>
         </div>
       </div>
     </div>


<div class="section"></div>
<div class="section"></div>
